services:
  website1:
    image: nginx:alpine
    volumes: ["./website1:/usr/share/nginx/html:ro"]
  website2:
    image: nginx:alpine
    volumes: ["./website2:/usr/share/nginx/html:ro"]
  website3:
    image: nginx:alpine
    volumes: ["./website3:/usr/share/nginx/html:ro"]
  nginx-lb:
    image: nginx:alpine
    container_name: nginx-lb
    ports:
      - "80:80"
    volumes:
      - ./nginx-lb/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - website1
      - website2
      - website3
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    ports:
      - "9090:9090"
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SERVER_DOMAIN=20.118.176.60
      - GF_SERVER_ROOT_URL=https://20.118.176.60/grafana/
    depends_on:
      - prometheus
  glances:
    image: nicolargo/glances:latest-full
    container_name: glances
    pid: host
    privileged: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "61208:61208"
    environment:
      - "GLANCES_OPT=-w -t 1"
  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:latest
    container_name: nginx-exporter
    command:
      - -nginx.scrape-uri=http://nginx-lb:80/nginx_status
    ports:
      - "9113:9113"
    depends_on:
      - nginx-lb
volumes:
  prometheus-data:
